/* ==== MOBILE SCREEN DISPLAY ==== */

* {
	box-sizing: border-box;
}

*::selection {
	background-color: lightgrey;
	color: white;
}

html {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 120%;
	color: black;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.6;
	background-color: white;
}

header,
main,
footer {
	width: 90vw;
	margin: 0 auto;
}

header,
footer {
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em; 
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
}

main {
	flex: 1;
}

footer {
	font-size: 0.7rem;
	color: dimgray;
}

.main-title {
	display: block;
	flex-basis: 100%;
	text-align: right;
	font-size: 1.8rem;
	font-family: 'Lora', serif;
}

.short-bio {
	display: block;
	flex-basis: 100%;
	text-align: left;
	font-size: 0.9rem;
	font-family: 'Lora', serif;
	color: steelblue;
}

.accordion h2 {
	position: relative;
	top: 0;
	left: 0;
	font-size: 1.2rem;
	font-family: 'Lora', serif;
	padding-left: 1.5em;
	transition: 0.1s;
}

.accordion-panel {
	display: none;
	padding: 3em;
	font-size: 1rem;
	color: dimgray;
}

.accordion-handle {
	display: inline-block;
	position: absolute;
	left: 0.5em;
}

.accordion h2:hover {
	cursor: pointer;
	background-color: papayawhip;
	color: black;
	transition: 0.1s;
}

.accordion h2:hover > .accordion-handle {
	display: inline-block;
}

/* ==== MEDIUM SCREEN DISPLAY ==== */

@media screen and (min-width: 768px) {

	header,
	main,
	footer {
		width: 80vw;
	}


	.main-title {
		flex-basis: 40%;
		padding-right: 1rem;
	}

	.short-bio {
		flex-basis: 60%;
		padding-left: 1rem;
		border-left: 2px solid steelblue;
	}

	.accordion-handle {
		display: none;
		color: white;
		opacity: 0;
		transition: 0.1s;
		font-weight: bold;
	}

	.accordion h2:hover > .accordion-handle {
		display: inline-block;
		color: black;
		opacity: 1;
		transition: 0.1s;
	}
}

/* ==== LARGE SCREEN DISPLAY ==== */

@media screen and (min-width: 992px) {

	header,
	main,
	footer {
		width: 70vw;
	}
}

/* ==== VERY LARGE SCREEN DISPLAY ==== */

@media screen and (min-width: 1200px) {

	header,
	main,
	footer {
		width: 60vw;
	}
}