:root {
	--main-font: 'Atkinson Hyperlegible', sans-serif;
	--title-font: 'Lora', serif;

	--main-color:  rgb(65, 65, 65);
	--background-color:  rgb(255, 255, 255);
	--brand-color: rgb(75, 105, 225);
	--focus-color-matte: rgba(250, 160, 125, 1);
	--focus-color-transparent: rgba(250, 160, 125, 0.3);
}

* {
	box-sizing: border-box;
}

*::selection {
	background-color: lightgrey;
	color: white;
}

html {
	font-family: var(--main-font);
	font-size: 120%;
	color: var(--main-color);
}

/* ==== MOBILE SCREEN DISPLAY ==== */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.6;
	background-color: var(--background-color);
}

header,
main,
footer {
	width: 90vw;
	margin: 0 auto;
}

header,
footer {
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem; 
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
}

main {
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer {
	font-size: 0.8rem;
}

p {
	color: var(--brand-color);
}

.main-title {
	display: block;
	flex-basis: 100%;
	text-align: center;
	font-size: 1.8rem;
	font-family: var(--title-font);
	font-style: italic;
}

.short-bio {
	display: block;
	flex-basis: 100%;
	text-align: center;
	font-size: 0.9rem;
	font-family: var(--title-font);
	font-style: italic;
	color: var(--brand-color);
	border-top: 2px solid var(--brand-color);
	padding-top: 0.5em;
	border-image: linear-gradient(
		-90deg,
		var(--background-color),
		var(--brand-color),
		var(--focus-color-matte),
		var(--background-color)
	) 1;
}

.contact {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
}

.aside {
	width: 250px;
	align-self: center;
	text-align: center;
	font-size: 0.8rem;
}

.aside ul {
	font-size: 1rem;
	margin-top: 1em;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.portrait {
	margin-bottom: 2.5rem;
	height: 250px;
	border-radius: 50%;
	filter: brightness(1.2);
}

.fa {
	text-decoration: none;
	color: var(--focus-color-matte);
}

.fa:hover {
	color: var(--focus-color-transparent);
}

.accordion {
	flex-basis: 100%;
}

.accordion h2 {
	position: relative;
	top: 0;
	left: 0;
	font-size: 1.2rem;
	font-family: var(--title-font);
	font-style: italic;
	padding-left: 2rem;
	transition: 0.1s;
}

.accordion-control {
	margin: 1em 0 0;
}

.accordion li:first-of-type .accordion-control {
	margin-top: 0;
}

.accordion-panel {
	display: none;
	font-size: 1rem;
	margin-bottom: 1em;
}

.accordion-handle {
	display: inline-block;
	position: absolute;
	left: 0.5em;
}

.accordion-control:hover > h2 {
	cursor: pointer;
	background: linear-gradient(
		90deg,
		var(--background-color), 10%,
		var(--focus-color-transparent),
		var(--background-color)
	);
}	

.accordion-control:hover .accordion-handle {
	display: inline-block;
}

.last-update {
	display: inline-block;
	font-size: 1em;
	background: -webkit-linear-gradient(
		180deg,
		var(--brand-color),
		var(--focus-color-matte)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color:  transparent;
}

/* ==== MEDIUM SCREEN DISPLAY ==== */

@media screen and (min-width: 800px) {

	header,
	main,
	footer {
		width: 80vw;
	}

	header,
	footer {
		margin-top: 5em;
		margin-bottom: 5em;
	}

	.contact {
		flex-basis: 35%;
		padding-right: 1.5em;
	}

	.aside {
		align-self: center;
		width: initial;
		font-size: 0.8rem;
	}

	.aside ul {
		margin-top: initial;
	}

	.portrait {
		height: 150px;
	}

	.accordion {
		padding-left: 1rem;
		flex-basis: 65%;
	}

	.main-title {
		flex-basis: 35%;
		padding-right: 1rem;
		text-align: center;
	}

	.short-bio {
		flex-basis: 65%;
		padding-left: 2.5rem;
		text-align: left;
		border-top: 0px;
		padding-top: 0;
		border-left: 2px solid var(--brand-color);
		border-image: linear-gradient(
			var(--brand-color),
			var(--focus-color-transparent)
		) 1;
	}

	.accordion-handle {
		display: none;
		opacity: 0;
		transition: 0.1s;
		font-weight: bold;
	}

	.accordion-control:hover .accordion-handle {
		display: inline-block;
		opacity: 1;
		transition: 0.1s;
	}
}

/* ==== LARGE SCREEN DISPLAY ==== */

@media screen and (min-width: 1200px) {

	header,
	main,
	footer {
		width: 60vw;
	}
}